$BLUE: #1877f2;
$RED: #ea4335;
$GEM: #08fdd8;
$GITHUB__COLOR: #4f4f4f;
$PROJECT__PREVIEW__BACKGROUND: #fef5ed00;
$DARK__PROJECT__PREVIEW__LOWERLAYER__BACKGROUND: #f0f2f53f;

$DARK__BACKGROUND: #1d1d1d;
$DARK__BACKGROUND-20: #f0f2f53f;

$DARK__TEXT__COLOR: #f0f2f5;
$DARK__SKILLTEXT__HEADER: #fff8b5;

// light mode
$LIGHT__BACKGROUND: #f0f2f5;
$LIGHT__BACKGROUND-20: #a594945d;

$LIGHT__TEXT__COLOR: #050505;
$LIGHT__SKILLTEXT__HEADER: #000000;

$LIGHT__PROJECT__PREVIEW__LOWERLAYER__BACKGROUND: #06050517;
