$BLUE: #1877f2;
$RED: #ea4335;
$GEM: #08fdd8;

$DARK__BACKGROUND: #1d1d1d;
$DARK__TEXT__COLOR: #f0f2f5;
$DARK__PRIMARY: #fff8b5;

// light mode
$LIGHT__BACKGROUND: #f0f2f5;
$LIGHT__TEXT__COLOR: #050505;
$LIGHT__PRIMARY: #fff8b5;
