@use "variable";
.home,
.skill,
.project,
.contact {
  padding-bottom: 50px;
  overflow: hidden;
}
.section__title {
  margin: 100px 0 40px 0;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  & span {
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
    display: inline-block;
    margin-right: 15px;
  }
}

.home-section__img-wrapper {
  position: relative;
  width: 100%;
  height: 50vh;
}
.home-section__img {
  // width: 400px;
  // height: 400px;
  position: absolute;
  top: 0%;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  animation: slide 2s cubic-bezier(0.19, 0.135, 0.15, 0.86);
  transition: all 0.6s cubic-bezier(0.19, 0.135, 0.15, 0.86);
}

.intro-wrapper {
  position: relative;
  height: 13rem;
  overflow: hidden;
  margin-bottom: 15px;

  align-items: center;
  &__name,
  &__major {
    font-size: 10rem;
    font-family: "Old Standard TT", serif;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 14rem;
    position: absolute;
    top: 0;

    animation: slide 2s cubic-bezier(0.19, 0.135, 0.15, 0.86);
    img {
      position: relative;
      height: 9rem;
      top: 8px;
    }
  }
  &__major {
    position: absolute;
    top: 0;

    font-size: 5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;

    margin-top: 1rem;
  }
  &__name::selection,
  &__major::selection {
    color: tomato;
    background-color: variable.$LIGHT__TEXT__COLOR;
  }
}

// Skill page

.skill-table {
  padding: 40px 40px 60px;
  border: 1px solid var(--background-color-20);
  box-shadow: 0 2px 6px var(--background-color-20);
  border-radius: 10px;
  &__header {
    text-align: center;
    font-size: 3.6rem;
    color: var(--skill-text-header-color);
    margin: 30px;
  }
  &__list {
    list-style: none;
  }
  &__item {
    margin-bottom: 25px;
    &__type {
      font-size: 2rem;
      margin-bottom: 15px;
      color: var(--skill-text-header-color);
    }
    &__list {
      font-size: 1.8rem;
      line-height: 2rem;
      font-weight: 300;
    }
  }
}
//  Contact page
.section__contact--text {
  font-size: 3rem;
  margin-bottom: 50px;
}
.contact {
  &__btns {
    display: flex;
    flex-direction: column;
  }
  &__btn {
    margin-bottom: 25px;
  }
}
