// Pc
@media screen and (min-width: 1024px) {
  html {
    height: calc(100% + 10px);
  }
  .hiddenOnPc {
    display: none;
  }
}
/* >= Tablet */
@media (min-width: 740px) and( max-width:1023px) {
  .hiddenOnTablet {
    display: none;
  }
  .skill-table {
    padding: 30px 20px 40px;
    &__item__type {
      font-size: 1.8rem;
      margin-bottom: 8px;
    }
    &__item__list {
      font-size: 1.4rem;
    }
  }
  .project__preview-wrapper {
    height: 400px;
  }
}
//  Mobile
@media (max-width: 739px) {
  .hiddenOnMobile {
    display: none;
  }
  .displayOnMobile {
  }
  #root {
    padding: 0 15px;
  }
  .nav {
    justify-content: space-between;
    position: relative;
  }
  .nav__item {
    text-align: start;
  }
  .nav__list-mobile {
    margin-top: 20px;
  }
  .skill-table {
    margin-bottom: 20px;
  }
  .project__preview-wrapper {
    height: 350px;
  }
}

// Moblie and Tablets

@media screen and (max-width: 1023px) {
  .hiddenOnMobileAndeTablet {
    display: none;
  }
  .intro-wrapper {
    height: 8rem;
    &__name {
      font-size: 5rem;
      line-height: 8rem;
      img {
        height: 6rem;
      }
    }
    &__major {
      font-size: 3rem;
      line-height: 8rem;
    }
  }
}

// Pc low solution

@media (min-width: 1024px) and (max-width: 1239px) {
  .project__preview-wrapper {
    height: 400px;
  }
}
